.menucont {
  height: 100vh;
  background-color: #fff;
  transition: all .2s ease;
}
.w250 {
  width: 250px;
}
.w120 {
  width: 120px;
}
.menubox {
  width: 120px;
  min-width: 120px;
  height: 100%;
  background-color: #262837; 
  color: #fff;
}
.menubox {
  width: 120px;
  height: 100%;
}
.submenubox {
  width: 130px;
  height: 100%;
}
.menuttl {
  height: 56px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
.submenuttl {
  height: 56px;
  line-height: 56px;
  padding: 0 20px;
  font-size: 14px;
}
.menulist {
  height: 45px;
  line-height: 45px;
  color:#B2B3B8;
  cursor: pointer;
}
.menulist.active {
  color: #fff;
}